
tmp/
RCS/
CVS/
synopsys_cache*/
simv.daidir/
csrc/

INCA_libs/
work_lib/
netlist/
report/
saif/
sdf/
spf/
.simvision/
waves.shm/

*.zip
*.tar
*.Z
*.gz
*.bz2
*.lzma
*.xz
*.lzo

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

#
cds.lib
hdl.var
.nclaunch.dd
*.key
default.svf
.sourceControl
*.log
*.bak
*.orig
*~
\#*#
*.sdf.X
.*.swp
simv
vc_hdrs.h
coverage.vdb/
